---
import type { Member } from '../types'

interface Props {
  member: Member
}

const { member } = Astro.props
---

<div class="member-item" title={member.name}>
  <img
    src={member.image}
    alt={member.name}
    width="20"
    height="20"
    loading="lazy"
    decoding="async"
    class="w-5 h-5 object-contain opacity-70"
  />
  <span class="text-xs text-[--color-subtle] truncate">{member.name}</span>
</div>
